<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead"> <%= @final_location %></p>
  <hr  class="my-4">
  <p class="lead"><%= @api_description %></p>
  <p><%= @result %></p>
</div>
